* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Fascinate', cursive;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 2.25rem;
    background: url(../IMG/fondo.jpg) no-repeat top left fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 85%;
    height: 90%;
    background-color: #FED308;
    border: 0.125rem solid #000;
    border-radius: 0.625rem;
    padding: 0.625rem;
}

.fase {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pregunta {
    text-align: center;
    color: black;
    text-shadow: 0.0625rem 0.0625rem 0.125rem #aaa, 0.0625rem 0.0625rem rgb(255, 155, 67);
    margin-bottom: 0.625rem;
}

.entrada {
    min-width: 70%;
    min-height: 1.875rem;
    max-width: 50rem;
    background-color: #FED308;
    border: 0.1875rem solid #000;
    border-style: none none solid none;
    border-radius: 0.0625rem;
    outline: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.25rem;
}

.boton {
    background-color: #000;
    color: #fff;
    min-width: 6.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 1.25rem;
    padding: 0.3125rem;
    cursor: pointer;
    border: none;
    border-radius: 0.3125rem;
    margin: 0.3125rem 0;
    box-shadow: 0 0.3125rem #999;
    user-select: none;
}

.boton:active {
    box-shadow: 0 0.3125rem #666;
    transform: translateY(0.25rem);
}

.boton.borrar:active {
    background-color: darkred !important;
}

.boton.siguiente:active {
    background-color: green !important;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opcion {
    background-color: #000;
    color: #FED308;
    padding: 0.5rem 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

.areas {
    max-width: 45rem;
}

.areas > div {
    width: 10.625rem;
    margin: 1rem 1rem 0.5rem 1rem;
}

.trabajos {
    max-width: 41.25rem;
}

.trabajos > div {
    width: 11.5rem;
    margin: 1rem 1.5rem 0.5rem 1.5rem;
}

.lugares > div {
    margin: 1rem 1rem 0.5rem 1rem;
}

.tiempos > div {
    min-width: 3rem;
    align-self: baseline;
}

.horas {
    margin-right: 1rem;
}

@media only screen and (min-width: 786px){
    html {
        font-size: 1.4em;
    }

    .tiempos {
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 2em;
    }

    .boton.borrar:hover {
        background-color: red;
    }

    .boton.siguiente:hover {
        background-color: limegreen;
    }

}

@media only screen and (min-width: 1920px){
    html {
        font-size: 3em;
    }
}
